<div class="container-fluid">
  <div class="row parent">
    <div class="col-md-6 col-sm-12 child position-relative"id="tall">
      <div class="position-absolute z-index-9999 w-100 h-100">
        <div class="d-flex justify-content-center align-items-center flex-column w-100 h-100">
          <h1>Hoge</h1>
          <p>Fuga</p>
        </div>
      </div>
      <div id="theTarget">
        <div class="image1"></div>
        <div class="image2"></div>
        <div class="image3"></div>
        <div class="image4"></div>
        <div class="image5"></div>
        <div class="image6"></div>
        <div class="image7"></div>
      </div>
    </div>
    <div class="col-md-6 col-sm-12 grey child">
      <%= render 'public/searches/search' %>
      <div>
        <% @tweets.each do |tweet| %>
          <div class="flex rank-color fadeUp change-time">
            <div>
              <%= link_to user_path(tweet.user.id) do %>
                <%= image_tag tweet.user.get_profile_image, class: "img" %>
              <% end %>
            </div>
            <div>
              <div class="user-name">
                <%= tweet.user.name %>
              </div>
              <div>
                <%= tweet.tweet.truncate(10) %>
              </div>
              <div id="like_buttons_<%= tweet.id %>">
                <%= render 'public/likes/like', tweet: tweet %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
