<div class="container-fluid">
  <div class="row">
    <div class="col-6 yellow">r</div>
    <div class="col-6 grey">
      <table>
        <% @tweets.each do |tweet| %>
          <tr>
            <td>
              <%= link_to user_path(tweet.user.id) do %>
                <%= image_tag tweet.user.get_profile_image, class: "col-2" %>
                <%= tweet.user.name %>
              <% end %>
            </td>
            <td>
              <%= tweet.tweet %>
            </td>
            <td>
              <%= link_to 'show', tweet_path(tweet) %>
            </td>
            <td>
              <%= render 'public/likes/like', tweet: tweet %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>