<div class="container-fluid max-window">
  <div class="row parent max-window-row">
    <div class="col-md-6 col-xs-12 child max-window hyer-tweet-show">
      <br>
      <div class="card text-dark mb-3">
        <div class="card-body">
          <p class="card-text">
            <%= render_with_hashtags(@tweet.tweet) %>
          </p>
        </div>
        <div class="card-footer d-flex justify-content-between">
          <div id="like_buttons_<%= @tweet.id %>">
            <%= render 'public/likes/like', tweet: @tweet %>

          </div>
          <%= link_to "https://twitter.com/share?url=#{ request.url }&text= #{ @tweet.tweet.truncate(10) }、投稿を見てみよう！ ", target: '_blank' do %>
            <i class="fab fa-twitter"></i>シェア
          <% end %>
        </div>
      </div>
      <br>
      <div>
        <div>いいねしたユーザー</div>
        <table>
          <% @likes.each do |like| %>
            <tr>
              <td class="col-2"><%= image_tag like.user.get_profile_image, size: '44x52' %></td>
              <td class="col-7">
                <%= link_to user_path(like.user) do %>
                  <%= like.user.name %>
                <% end %>
              </td>
              <td class="col-3"><%= render 'public/relationships/info', user: like.user %></td>
            </tr>
          <% end %>
        </table>
        <%= paginate @likes %>
      </div>
    </div>
    <div class="col-md-6 col-xs-12 child max-window hyer">
      <%= render 'public/users/prof', user: @tweet.user %>
    </div>
  </div>
</div>