<div class="container">
  <div class="row">
    <div class="col-8">
      <% if @range == "User" %>
        <table class="table">
          <tr>
            <th>名前</th>
            <th></th>
          </tr>
          <% @users.each do |user| %>
            <tr>
              <td>
                <%= link_to admin_user_path(user) do %>
                  <%= user.name %>
                <% end %>
              </td>
              <td></td>
            </tr>
          <% end %>
        </table>
      <% elsif @range == "Tweet" %>
        <% @tweets.each do |tweet| %>
          <%= tweet.tweet %>
        <% end %>
      <% elsif @range == "Contact" %>
        <% @contacts.each do |contact| %>
          <%= contact.message %>
        <% end %>
      <% else %>
        <h3>該当なし</h3>
      <% end %>
    </div>
    <div class="col-4">
      <%= render 'admin/searches/search' %>
    </div>
  </div>
</div>