<div class="container">
  <div class="row d-flex justify-content-around">
    <div class="col-md-6 col-sm-12">
      <h3 class="mt-2">お問い合わせフォーム</h3>
      <%= render 'layouts/errors', obj: @contact %>
      <%= form_with model: @contact, url: confirm_path do |f| %>
        <div class="form-group">
          <%= f.label :name, 'お名前' %>
          <%= f.text_field :name, autofocus: true, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :email, 'メールアドレス'%>
          <%= f.text_field :email, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :subject, 'ご用件' %>
          <%= f.select :subject, [["通常のお問い合わせ", "normal"], ["通報", "report"], ["その他", "other"]], {}, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :message, 'メッセージ' %>
          <%= f.text_area :message, size: '10x10', class: 'form-control' %>
        </div>

        <div>
          <%= f.submit '入力内容確認', class: "btn btn-primary mb-2" %>
        </div>
      <% end %>
    </div>
  </div>
</div>