<div class="container">
  <div class="row d-flex justify-content-around">
    <div class="col-md-10 col-sm-12">
      <%= render 'admin/searches/search' %>
      <table class="table">
        <tr>
          <th>チェック</th>
          <th>投稿者</th>
          <th>ご用件</th>
          <th>内容</th>
        </tr>
        <% @contacts.each do |contact| %>
        <tr>
          <td>
            <% if contact.check == true %>
              <%= link_to admin_contact_path(contact.id, contact: {check: false}), method: :patch do %>
                <i class="fas fa-check-square"></i>
              <% end %>
            <% else %>
              <%= link_to admin_contact_path(contact.id, contact: {check: true}), method: :patch do %>
                <i class="far fa-square"></i>
              <% end %>
            <% end %>
          </td>
          <td><%= contact.name %></td>
          <td><%= contact.subject_i18n %></td>
          <td>
            <%= link_to admin_contact_path(contact) do %>
              <%= contact.message.truncate(10) %>
            <% end %>
          </td>
        </tr>
        <% end %>
      </table>
      <%= paginate @contacts %>
    </div>
  </div>
</div>
