<div class="container">
  <div class="row d-flex justify-content-around">
    <div class="col-8">
      <%= form_for @inquiry, :url => inquiry_thanks_path do |f| %>
        <div class="inquiry-title">お問い合わせ</div>
        <div>
          <div>
            <div class="inquiry-page">名前</div>
            <div>
              <%= f.hidden_field :name %>
              <%= @inquiry.name %>
            </div>
          </div>
          <div>
            <div class="inquiry-page">メールアドレス</div>
            <div class="break-word">
              <%= f.hidden_field :email %>
              <%= @inquiry.email %>
            </div>
          </div>
          <div>
            <div class="inquiry-page">お問い合わせ内容</div>
            <div class="break-word">
              <%= f.hidden_field :message %>
              <%= simple_format(@inquiry.message) %>
            </div>
          </div>
        </div>
        <%= f.submit '送信', class: "btn btn-primary edit-btn" %>
      <% end %>
    </div>
  </div>
</div>