<div class="container">
  <div class="row d-flex justify-content-around">
    <div class="col-6">
      <%= form_with model: @user do |f| %>
        <br>
        <div class="edit-page">
          <%= f.label :name, '名前' %>
          <%= f.text_field :name, class: "form-control" %>
        </div>
        <div class="edit-page">
          <%= f.file_field :profile_image, accept: "image/*" %>
        </div>
        <div class="edit-page">
          <%= f.label :introduction, '自己紹介' %>
          <%= f.text_area :introduction, rows:'7', class: "form-control" %>
        </div>
        <div class="edit-btn">
          <%= f.submit '保存', class: "btn btn-outline-info" %>
        </div>
      <% end %>
    </div>
  </div>
</div>