<div class="container-fluid max-window">
    <div class="row parent max-window-row">
        <div class="col-md-6 col-xs-12 order-bottom child max-window">
            <table class="table">
                <% @tweets.each do |tweet| %>
                    <tr class="fadeUp change-time rainbow">
                         <td>
                            <%= link_to tweet_path(tweet), class: 'text-dark' do %>
                               <%= tweet.tweet.truncate(8) %>
                            <% end %>
                        </td>
                        <td>
                            <%= link_to tweet_path(tweet), class: 'text-dark' do %>
                                <%= tweet.created_at.strftime('%Y/%m/%d') %>
                            <% end %>
                        </td>
                        <td id="like_buttons_<%= tweet.id %>">
                            <%= render 'public/likes/like', tweet: tweet %>
                        </td>
                    </tr>
                <% end %>
            </table>
            <div class="d-flex justify-content-around align-items-center flex-column">
                <% @time_lines.each do |tweet| %>
                    <div class="d-flex fadeUp change-time line-color w-100">
                        <div>
                            <%= link_to user_path(tweet.user.id) do %>
                                <%= image_tag tweet.user.get_profile_image, class: "img" %>
                            <% end %>
                        </div>
                        <div class="w-100">
                            <%= link_to tweet_path(tweet) do %>
                                <div class="text-dark">
                                  <div class="user-name">
                                    <%= tweet.user.name %>
                                  </div>
                                  <div class="text-nowrap">
                                    <%= tweet.tweet.truncate(15) %>
                                  </div>
                                </div>
                            <% end %>
                            <div class="d-flex justify-content-between">
                                <div id="like_buttons_<%= tweet.id %>">
                                    <%= render 'public/likes/like', tweet: tweet %>
                                </div>
                                <div>
                                    <i class="far fa-clock clock-icon"></i><%= time_ago_in_words(tweet.created_at) %>前
                                </div>
                            </div>
                        </div>
                    </div>
                <% end %>
                <%= paginate @time_lines %>
            </div>
            <% if current_user == @user %>
                <%= link_to 'ログアウトはこちら',  destroy_user_session_path, method: :delete, "data-confirm" => "ログアウトしますか？", class: "btn btn-danger" %>
            <% end %>
        </div>
        <div class="col-md-6 col-xs-12 order-top child hyer max-window">
            <%= render 'public/users/prof', user: @user %>
        </div>
    </div>
</div>