<div class="container-fluid">
    <div class="row parent">
        <div class="col-6 red child">
            <table class="table">
                <% @tweets.each do |tweet| %>
                    <tr>
                        <td><%= tweet.tweet %></td>
                        <td><%= render 'public/likes/like', tweet: tweet %></td>
                        <td><%= link_to 'show', tweet_path(tweet) %></td>
                    </tr>
                <% end %>
            </table>
            <% if current_user == @user %>
                <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
            <% end %>
        </div>
        <div class="col-6 blue child">
            <%= render 'public/users/prof', user: @user %>
        </div>
    </div>
</div>