<div class="container-fluid max-window">
    <div class="row parent max-window-row">
        <div class="col-md-6 col-xs-12 order-bottom child max-window">
            <table class="table">
                <% @tweets.each do |tweet| %>
                    <tr class="fadeUp change-time rainbow">
                         <td>
                            <%= link_to tweet_path(tweet), class: 'text-dark' do %>
                               <%= tweet.tweet.truncate(8) %>
                            <% end %>
                        </td>
                        <td>
                            <%= link_to tweet_path(tweet), class: 'text-dark' do %>
                                <%= tweet.created_at.strftime('%Y/%m/%d') %>
                            <% end %>
                        </td>
                        <td id="like_buttons_<%= tweet.id %>">
                            <%= render 'public/likes/like', tweet: tweet %>
                        </td>
                    </tr>
                <% end %>
            </table>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <%= link_to 'すべての投稿', '#all-post', 'data-toggle': 'tab', class: 'nav-link active' %>
                </li>
                <li class="nav-item">
                    <%= link_to 'フォロワーの投稿', '#my-post', 'data-toggle': 'tab', class: 'nav-link' %>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="all-post"><%= render 'public/users/timeline', time_lines: @time_lines %></div>
                <div class="tab-pane" id="my-post"><%= render 'public/users/timeline', time_lines: @mylines %></div>
            </div>
            <% if current_user == @user %>
                <%= link_to 'ログアウトはこちら',  destroy_user_session_path, method: :delete, "data-confirm" => "ログアウトしますか？", class: "btn btn-danger" %>
            <% end %>
        </div>
        <div class="col-md-6 col-xs-12 order-top child hyer max-window">
            <%= render 'public/users/prof', user: @user %>
        </div>
    </div>
</div>